.sidebar{
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--body-bg);
    padding:0px 30px;
    height: 100%;
    
}

.sidebar__top{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imglineReponsive{
    height: 20px;
}
.packageReponsive{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-color);
    border: 1px solid #0000;
    border-radius: 50%;
    right: 10px;
    position: absolute;
}

.sidebar__top h2{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar__top h2 span{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__top h2 i{
    font-weight: 400 !important;
    padding: 5px;
    font-size: 1.2rem;
}

.sidebar__content{
    display: flex;
    justify-content: space-between !important;
    flex-direction: column;
}
.box-wrap{
    display: flex;
    justify-content: space-between !important;
    flex-direction: column;
    height: 70%;
}

.menu{
    
}

.sidebar__bottom{
    height: 0%;
}

.nav__link , 
.sidebar__bottom span{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.sidebar__bottom span{
    color: var(--secondary-color);
    background: var(--button-color);
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.nav__list{
    display: flex;
    row-gap: 1.7rem;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
    font-weight: 600;
}
.nav__item span{
    height: 20px;
    width: 20px;
}


.nav__link i{
    color: var(--secondary-color);
    height: 20px;
    width: 20px;
}
.icon-sidebar{
    height: 20px;
    width: 20px;
}
.nav__active{
    color: white;
    background: #E2F367;
    padding: 15px;
    border-radius: 10px;
    /* border-radius: 30px 0 0 30px; */
}
.profile{
    display:grid !important;
    align-items:center;
    justify-content: center;
}
.image-user{
    height: 60px;
}
.logout-icon{
    height: 25px;
    width: 25px;
}